<head>

<li style="font-family:verdana;font-size:14px"><%= link_to "Database List", database_lists_path %></a></li><br>

	<title>Permit Reports</title>
</head>

<div style="font-family:verdana;font-size:12px;color:#333333;align:center"><b>PERMITS REPORT</b></div><br>
<table class="gridtable">

<tr>
	<th>States</th><th>Total Number of Records</th>
	<% @alldates.each do |date| %>
        <th><%= date %></th>
    <% end %>
</tr>
<tr>

<td> -- </td>
<td> -- </td>

<% @alldates.each do |eachdate| %>
	<% totalcount = 0 %>
	<% thour = 0 %>
	<% tmin = 0 %>
	<% tsec = 0 %>
	<% time_in_secs = 0 %>
	<% counter = 0 %>
	<% rundate = eachdate.strftime('%m%d').gsub(/^0/, '') %>
	<% year = eachdate.strftime('%Y') %>
	<% @dstates.each do |eachstate| %>
		<% Runtime.select("insertcount, runtime").where("state = '"+eachstate.state+"' and rundate = '"+rundate+"' and dateformal like '"+year+"%'").each do |e_insert| %>
			<% totalcount = totalcount + e_insert.insertcount.to_i %>
			<% hour = e_insert.runtime.gsub(/(\d+)\:\d+\:\d+$/, '\1') %>
			<% thour = thour + hour.to_i %>
			<% min = e_insert.runtime.gsub(/^\d+\:(\d+)\:\d+$/, '\1') %>
			<% tmin = tmin + min.to_i %>
			<% sec = e_insert.runtime.gsub(/^\d+\:\d+\:(\d+)$/, '\1') %>
			<% tsec = tsec + sec.to_i %>
		<% end %>
	<% end %>
	<% thour = thour * 3600 %>
	<% tmin = tmin * 60 %>
	<% time_in_secs = thour + tmin + tsec %>
	<% hrs = time_in_secs / 3600 %>
	<% mins = time_in_secs % 3600 / 60 %>
	<% secs = time_in_secs % 60 %>
	<td><%= totalcount %> inserted, [ <%= '%02d' % hrs %> : <%= '%02d' % mins %> : <%= '%02d' % secs %>  ]</td>
<% end %>

<% @dstates.each do |eachstate| %>
	<% statcount = 0 %>
	<% @alldates.each do |eachdate| %>
		<% dd = eachdate.strftime('%d').gsub(/^0/, '').to_i %>
		<% rundate = eachdate.strftime('%m%d').gsub(/^0/, '') %>
		<% year = eachdate.strftime('%Y') %>
		<% Runtime.select("insertcount").where("state = '"+eachstate.state+"' and rundate = '"+rundate+"' and dateformal like '"+year+"%'").each do |icount| %>
			<% if icount.insertcount.to_i == 0 %>
				<% statcount += 1 %>
			<% end %>
		<% end %>
	<% end %>
	<% if statcount > 7 %>
		<tr bgcolor=\"#FF0000\" style=\"color: #ffffff\">
	<% else %>
		<tr>
	<% end %>

	<% @dbresult = DatabaseList.select("dbname, link, comment").where("state = '"+eachstate.state+"'").each do |ersult| %>
		<% if ersult.link != nil %>
			<td><div title="<%= ersult.comment %>"><a href="<%= ersult.link %>" target="_blank"><%= eachstate.state %></a></div></td>
		<% else %>
			<td><%= eachstate.state %></td>
		<% end %>
		<td> -- </td>
	<% end %>

	<% @alldates.each do |eachdate| %>
		<% rundate = eachdate.strftime('%m%d').gsub(/^0/, '') %>
		<% year = eachdate.strftime('%Y') %>
		<% @result = Runtime.select("runtime, pagecount, insertcount").where("state = '"+eachstate.state+"' and rundate = '"+rundate+"' and dateformal like '"+year+"%'").each do |fresult| %>
			<% if @result != [] %>
				<td><%= fresult.insertcount %> inserted [ <%= fresult.pagecount %>, <%= fresult.runtime %> ]</td>
			<% else %>
				<td> No Run </td>
			<% end %>
		<% end %>
		<% if @result == [] %>
			<td> No Run </td>
		<% end %>
	<% end %>
<% end %>


