<li style="font-family:verdana;font-size:14px"><%= link_to 'Edit', edit_database_list_path %><br>
  
<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @databaselist.state %>
</p>

<p>
  <strong>Area Tyep:</strong>
  <%= @databaselist.area_type %>
</p>

<p>
  <strong>Area Tyep:</strong>
  <%= @databaselist.area_type %>
</p>

<p>
  <strong>State Abb:</strong>
  <%= @databaselist.state_abb %>
</p>

<p>
  <strong>State Full:</strong>
  <%= @databaselist.state_full %>
</p>

<p>
  <strong>Database Name:</strong>
  <%= @databaselist.dbname %>
</p>

<p>
  <strong>Link:</strong>
  <%= @databaselist.link %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @databaselist.comment %>
</p>

<p>
  <strong>Scripter:</strong>
  <%= @databaselist.scripter %>
</p>

<%= link_to 'Back', database_lists_path %>
